/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
env/.env.local

nbproject/private/private.xml
idoc.sublime-workspace
_ide_helper.php
idoc.sublime-workspace
idoc.sublime-workspace
idoc.sublime-workspace
