/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2017, 4:22:02 PM
    Author     : TDM01
*/

ul.msg_list li.read {
    background: #fff;
}

.user-profile-icon {
    width: 20px;
}

ul.user_data.msg_list li.user-message-item {
    padding:0px;
    margin:0px;
    margin-bottom: 6px;
    background: none;
}

ul.nav.navbar-right.panel_toolbox.dynamic-width {
    min-width: unset;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding:5px 8px;
    line-height: 20px;
}

.btn-table {
    display: inline-block;
    line-height: 20px;
    margin-right: 5px;
    min-width: 20px;
    text-decoration: none;
    font-size: 12px;
    padding:0px 5px;
    font-weight: bold;
    cursor: pointer;
}

table[role=grid] tbody tr:hover {
    background: #ccffcc;
}

table[role=grid] tbody tr.selected {
    background: #99ff99;
}

table[role=grid] tbody tr.selected td.active {
    background-color: #99ff99;
}

.colon:after {
    content: ':'
}

.bootstrap-tagsinput {
    width:100%;
}

.modal .modal-header button.close{
    position: absolute;
    top:-10px;
    right:-10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 0;
    text-align: center;
    background: white;
    opacity: 1;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.modal .modal-header {
    padding : 10px 15px;
    font-weight: bold;
}

.modal .modal-header .modal-title{
    font-weight: bold;
    font-size:14px;
}

.modal .modal-footer {
    padding: 5px 15px;
}

.modal .modal-footer button {
    padding : 3px 12px;
    margin-bottom: 0px;
}

.modal .modal-footer .pull-right button{
    margin-right: 0px;
    margin-left: 5px;
}

input.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

td.cell-text-center {
    text-align: center;
}